{
  "openapi": "3.0.3",
  "info": {
    "title": "Hotel Management System API",
    "description": "Backend API endpoints for hotel management dashboard",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hotelmanagement.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/metrics/dashboard": {
      "get": {
        "summary": "Get dashboard metrics",
        "description": "Returns key performance indicators for the hotel dashboard",
        "responses": {
          "200": {
            "description": "Dashboard metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "occupancy": {
                      "type": "object",
                      "properties": {
                        "current": { "type": "string", "example": "87%" },
                        "change": { "type": "string", "example": "+5% vs yesterday" },
                        "trend": { "type": "string", "enum": ["up", "down", "flat"] }
                      }
                    },
                    "arrivals": {
                      "type": "object",
                      "properties": {
                        "remaining": { "type": "integer", "example": 23 },
                        "checkedIn": { "type": "integer", "example": 12 }
                      }
                    },
                    "revenue": {
                      "type": "object",
                      "properties": {
                        "today": { "type": "string", "example": "$12,847" },
                        "change": { "type": "string", "example": "+12% vs last week" },
                        "trend": { "type": "string", "enum": ["up", "down", "flat"] }
                      }
                    },
                    "adr": {
                      "type": "object",
                      "properties": {
                        "current": { "type": "string", "example": "$148" },
                        "change": { "type": "string", "example": "+$8 vs last month" },
                        "trend": { "type": "string", "enum": ["up", "down", "flat"] }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "summary": "Get system alerts",
        "description": "Returns current system alerts and notifications",
        "responses": {
          "200": {
            "description": "List of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "type": { "type": "string", "enum": ["warning", "success", "info", "error"] },
                      "message": { "type": "string" },
                      "priority": { "type": "string", "enum": ["high", "medium", "low"] },
                      "count": { "type": "integer" },
                      "timestamp": { "type": "string", "format": "date-time" },
                      "resolved": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guest-requests": {
      "get": {
        "summary": "Get guest requests",
        "description": "Returns guest requests from chatbot interactions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string", "enum": ["pending", "in-progress", "resolved"] }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": { "type": "string", "enum": ["high", "medium", "low"] }
          }
        ],
        "responses": {
          "200": {
            "description": "List of guest requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "guestName": { "type": "string" },
                      "roomNumber": { "type": "string" },
                      "intent": { "type": "string" },
                      "message": { "type": "string" },
                      "priority": { "type": "string", "enum": ["high", "medium", "low"] },
                      "status": { "type": "string", "enum": ["pending", "in-progress", "resolved"] },
                      "timestamp": { "type": "string", "format": "date-time" },
                      "assignedTo": { "type": "string" },
                      "department": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create guest request",
        "description": "Creates a new guest request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "guestName": { "type": "string" },
                  "roomNumber": { "type": "string" },
                  "intent": { "type": "string" },
                  "message": { "type": "string" },
                  "priority": { "type": "string", "enum": ["high", "medium", "low"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request created successfully"
          }
        }
      }
    },
    "/guest-requests/{id}": {
      "patch": {
        "summary": "Update guest request",
        "description": "Updates a guest request status or assignment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": { "type": "string", "enum": ["pending", "in-progress", "resolved"] },
                  "assignedTo": { "type": "string" },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated successfully"
          }
        }
      }
    },
    "/system/performance": {
      "get": {
        "summary": "Get system performance metrics",
        "description": "Returns system performance indicators",
        "responses": {
          "200": {
            "description": "Performance metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "systemPerformance": {
                      "type": "object",
                      "properties": {
                        "uptime": { "type": "number", "example": 94 },
                        "status": { "type": "string", "example": "Excellent" }
                      }
                    },
                    "responseTime": {
                      "type": "object",
                      "properties": {
                        "average": { "type": "number", "example": 120 },
                        "status": { "type": "string", "example": "Fast" }
                      }
                    },
                    "taskCompletion": {
                      "type": "object",
                      "properties": {
                        "percentage": { "type": "number", "example": 85 },
                        "status": { "type": "string", "example": "On Track" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/routing/active": {
      "get": {
        "summary": "Get active routing requests",
        "description": "Returns current active routing requests and flows",
        "responses": {
          "200": {
            "description": "Active routing data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "activeRequests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "source": { "type": "string" },
                          "destination": { "type": "string" },
                          "method": { "type": "string" },
                          "status": { "type": "string" },
                          "responseTime": { "type": "number" }
                        }
                      }
                    },
                    "routingRules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": { "type": "string" },
                          "handler": { "type": "string" },
                          "status": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "Get notifications",
        "description": "Returns user notifications",
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "title": { "type": "string" },
                      "message": { "type": "string" },
                      "type": { "type": "string", "enum": ["info", "warning", "success", "error"] },
                      "timestamp": { "type": "string", "format": "date-time" },
                      "read": { "type": "boolean" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/profile": {
      "get": {
        "summary": "Get user profile",
        "description": "Returns current user profile information",
        "security": [{"bearerAuth": []}],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "role": { "type": "string" },
                    "avatar": { "type": "string" },
                    "permissions": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}